<h1 class="animated fadeIn fast">sobre comit...</h1>
<hr />
<p class="animated fadeIn">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis a quos
  earum velit quisquam voluptatibus reprehenderit officiis inventore neque
  quasi, fuga, error beatae assumenda nobis tempore illum delectus accusamus!
  Repudiandae. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus
  reiciendis dicta commodi necessitatibus neque, quos reprehenderit perspiciatis
  inventore asperiores obcaecati iure! Tempore hic consectetur, incidunt commodi
  magni doloribus suscipit veniam. Lorem ipsum dolor sit amet, consectetur
  adipisicing elit. Veritatis sint libero veniam nisi placeat quaerat dolorem
  quod nulla minima consequuntur, corporis ad qui doloribus temporibus. Dolor
  velit incidunt nostrum quo!
</p>
